*.tdo
*.ptb
*.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.nav
*.snm
*.loe
report.tex
chapters/c*.tex
presentation/preparation/TODO
presentation/preparation/slides.tex
presentation/toninho
!report.pdf
